@model Item
@{
    ViewData["Title"] = "Add";
}

<h1>Add Item</h1>
<form method="post" class="form-group m-3">
    <input asp-for="ItemName" placeholder="ItemName" /> <span asp-validation-for="ItemName"></span> <br />
    <input asp-for="Quantity" placeholder="Quantity" /><span asp-validation-for="Quantity"></span><br />
    <input asp-for="Price" placeholder="Price" /><span asp-validation-for="Price"></span><br />

    <select asp-for="StoreId" asp-items="ViewBag.store">
        <span asp-validation-for="StoreId"></span>
        <br />
        <br />
    </select>
    <br />
    <a href="@Url.Action("Index")" class="btn btn-success mt-3"> Back To Items </a>
    <input class="btn btn-success mt-3" type="submit" value="ADD" />
</form>
