@model Store
@{
    ViewData["Title"] = "Add";
}

<h1>Add Store</h1>
<hr />
<form method="post" class="form-group m-3">
    <input asp-for="StoreName" placeholder="StoreName" /> <span asp-validation-for="StoreName"></span> <br />
    <input asp-for="Address" placeholder="Address" /><span asp-validation-for="Address"></span><br />

    <a href="@Url.Action("Index")" class="btn btn-success mt-3"> Back To Stores </a>
    <input class="btn btn-success mt-3" type="submit" value="ADD" />

</form>
