@model Store
@{
    ViewData["Title"] = "edit";
}


<h1>Edit Store</h1>
<hr />

<form method="post">
    <input asp-for="StoreName" placeholder="Name" />
    <input asp-for="Address" placeholder="Address" />

    <input class="btn btn-dark" type="submit" value="Apply Changes" onclick="return confirm ('Are you sure want to Edit Item?');" />
    <a href="@Url.Action("Index")" class="btn btn-dark"> Back To Stores </a>

</form>
