@model Item
@{
    ViewData["Title"] = "getItem";
}

<h1>Purchasing Item</h1>
<hr />

<form method="post">
    <input asp-for="Quantity" placeholder="Purchased Quantity" />

    <input class="btn btn-dark mt-3" type="submit" value="Purchase" />
    <a href="@Url.Action("Index")" class="btn btn-dark mt-3"> Back To Stores </a>
</form>